<!--
<link rel="stylesheet" type="text/css" href="style.css" />
-->
<script src="flow.js"></script>
<div class="row">
    <div class="col-sm-12">
        <h3>{{project.name}}</h3><hr/>
        <div>
            <input name="name" class="form-control input" placeholder="Name of Project" ng-model = "project.name" required/><br/>
                <h4>Deadlines</h4>
                <div class="row">
                    <div class="col-xs-6">
                        <h5>Transcription Deadline</h5>
                        <input id="transcDeadline" name = "transcDeadline" ng-model = "project.transcDeadline" class="datepicker form-control" data-date-format="mm/dd/yyyy" placeholder="mm/dd/yyyy" required/> <br/>
                    </div>
                    <div class="col-xs-6">
                        <h5>Embargo Date</h5>
                        <input id="embargoDate" name = "embargoDate" ng-model="project.embargoDate" class="datepicker form-control" data-date-format="mm/dd/yyyy" placeholder="mm/dd/yyyy" required/> <br/>
                    </div>
                </div>
                <textarea class="form-control input" placeholder="Description of Project" name = "desc" ng-model = "project.desc"/><br/>
                <input name = "keywords" ng-model = "project.keywords" class="form-control input" placeholder="Keywords (Separate them by commas ',')" required/><br/>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <h4>Privacy</h4>
                        <div class="radio col-sm-12">
                            <label class="col-sm-6"><input type="radio" name="radio1" ng-model="project.visibility" value="public">Public</label>
                            <label class="col-sm-6"><input type="radio" name="radio1" ng-model="project.visibility" value="private">Private</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4>Status *</h4>
                        <div class="radio col-sm-12">
                            {{project.status}}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <blockquote><small>After selecting the exemplar file, the status will change to active.</small></blockquote>
                    </div>
                </div>
                
                <!-- Status -->
                <br/>
                <!-- File Upload Part -->
                <div class="col-xs-12">
                    <h4>Files </h4>
                    
                    <div class="col-xs-12">
                        <table class="col-xs-12 table table-hover table-bordered table-striped" style="overflow: auto;">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Size</th>
                          <th>Settings</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="filed in files">
                          <td>{{$index+1}}</td>
                          <td><img src="/api/download/{{filed.identifier}}" width="200px"></td>
                          <td>{{filed.size}}</td>
                          <td>
                            <div class="btn-group">
                              <a class="btn btn-mini btn-danger" ng-click="removeImage($index)">
                                Cancel
                              </a>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-xs-12">
  
    <div class="col-xs-12" >
        
      <p>
        <span class="btn btn-primary" flow-btn flow-attrs="{accept:'image/*'}"><i class="icon icon-file"></i>Add Files</span>
        <a class="btn btn-small btn-success" ng-click="$flow.resume()">Upload</a>
        <a class="btn btn-small btn-danger" ng-click="$flow.pause()">Pause</a>
        <a class="btn btn-small btn-info" ng-click="$flow.cancel()">Cancel</a>
        <span class="label label-info">Size: {{$flow.getSize()}}</span>
        <span class="label label-info">Is Uploading: {{$flow.isUploading()}}</span>
      </p>
    </div>
    <div class="col-sm-12">
    <table class="col-xs-12 table table-hover table-bordered table-striped" flow-transfers style="overflow: auto;">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Size</th>
      <th>Settings</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="file in transfers">
      <td>{{$index+1}}</td>
      <td>{{file.name}}</td>
      <td>{{file.size}}</td>
      <td>
        <div class="btn-group">
          <a class="btn btn-mini btn-warning" ng-click="file.pause()" ng-hide="file.paused">
            Pause
          </a>
          <a class="btn btn-mini btn-warning" ng-click="file.resume()" ng-show="file.paused">
            Resume
          </a>
          <a class="btn btn-mini btn-danger" ng-click="file.cancel()">
            Cancel
          </a>
          <a class="btn btn-mini btn-info" ng-click="file.retry()" ng-show="file.error">
            Retry
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

<!--
  <div class="alert" flow-drop flow-drag-enter="class='alert-success'" flow-drag-leave="class=''"
          ng-class="class">
    Drag And Drop your file here
  </div>
-->
</div>
                </div>
                    
                <br/><br/><br/>
                <hr/>
                <div class="row">
                    <div class="col-sm-6"><button class="form-control btn-primary"  ng-click="updateProject()">Save</button></div>
                    <div class="col-sm-6"><button class="form-control btn-warning" ng-click="goToNormalPage()">Cancel</button></div>
                    <br/><br/>
                </div>
            
        </div>
        
        
    </div>
</div>