<div class="row" style="overflow:auto;">
  <!-- Title -->
  <div class="col-sm-9">
    <h2>{{project.name}}</h2>
    <h4>{{file.name}}</h4>
  </div>
  <div class="col-sm-3" style="display:inline-flex;">
    <button
      class="btn btn-primary"
      ng-click="saveSchema()"
      style="width:95%;padding:5px;margin:5px;">
      Save
    </button>
    <a href="/project/{{projectId}}/"><button
      class="btn btn-md btn-secondary"
      style="width:95%;padding:5px;margin:5px;">
      Cancel
    </button></a>
  </div>
</div>
<br/>
<div class="row" style="overflow:auto;">
  <div class="col-sm-12 errorBox" id="errBox" style="display:none;">
  </div>
</div>
<br/>
<div class="row" style="overflow:auto;">
    <!-- THe image part -->
    <div class="col-xs-9" style="width=100%;" id="canvasHolder">
        <canvas id="exemplarImage"></canvas>
         <!-- style="display:none;" -->
        <!-- <img src = '/api/download/{{file.identifier}}' height="100%" width="100%"/> -->
    </div>
    <!-- The Fields for the squares marked -->
    <div class="col-xs-3">
        <!-- Schema is fixed for a project. Its one of the properties of project. Max of eight -->
        <div ng-repeat="field in savedRectangles track by $index"
          class="col-sm-12 schemaFields">
            <b>Field {{$index + 1}}</b><br/>
            <div class="form-group">
              <select class="form-control" ng-model="field[4]">
                <option selected disabled value="0">Select Type</option>
                <option value="string">String</option>
                <option value="number">Number</option>
                <option value="date">Date</option>
              </select>
            </div>
            <a class="closeFields" ng-click="removeField($index)">&times;</a>
        </div>
    </div>
</div>
