<!-- Project Details -->
<script src="flow.js"></script>
<div class="row panel">
    <div class="col-sm-12">
      <h3>{{project.name}}</h3>
    </div>
    <div class="col-sm-12" style="display: inline-flex; padding-bottom:5px;">
      <div class="tag" ng-repeat="tagName in project.keywords">{{tagName}}</div>
    </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="row panel small center">
      <!-- Buttons for actions like download edit etc -->
      <span class="col-xs-4 pad10 center plain" flow-btn flow-attrs="{accept:'image/*'}"
        style="cursor:pointer;">
        Add&nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-open"></span>
      </span>
      <a class="col-xs-4 pad10 center plain" href="#" ng-click="toggleEdit()">
        Edit&nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <a class="col-xs-4 pad10 plain" target="_self" ng-href="{{csv_link}}">
        Download&nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-save"></span>
      </a>
    </div>
    <div class="row panel">
      <div class="col-sm-12">
        <h4>Description</h4>
        <h5 ng-hide="isEdit">{{project.desc}}</h5>
        <textarea ng-show="isEdit" class="form-control input" placeholder="Description of Project" name = "desc" ng-model = "editProject.desc"/>
        <hr/>

        <h4>Transcription Deadline</h4>
        <h5 ng-hide="isEdit">{{getDateString(project.transcDeadline)}}</h5>
        <input ng-show="isEdit" id="transcDeadline" name="transcDeadline" class="datepicker form-control" data-date-format="mm/dd/yyyy" placeholder="mm/dd/yyyy" required/>
        <hr/>

        <h4>Embargo Date</h4>
        <h5 ng-hide="isEdit">{{getDateString(project.embargoDate)}}</h5>
        <input ng-show="isEdit" id="embargoDate" name="embargoDate" class="datepicker form-control" data-date-format="mm/dd/yyyy" placeholder="mm/dd/yyyy" required/>
        <hr/>

        <div class="row" style="text-align:center;" ng-hide="isEdit">
          <div class="col-xs-6" style="border-right:1px solid #ddd;">{{project.nod}}<br/>Docs</div>
          <div class="col-xs-6">{{project.notd}}<br/>Transcribed</div>
        </div>
        <hr ng-hide="isEdit"/>

        <div class="row" style="text-align:center;" ng-hide="isEdit">
          <div class="col-xs-6" style="text-align:center;">{{project.status}}</div>
          <div class="col-xs-6"><i>{{project.visibility}}</i></div>
        </div>
        <div class="row center " ng-show="isEdit">
          <div class="col-sm-6"><input type="radio" name="radio1" ng-model="editProject.visibility" value="public">&nbsp;&nbsp;Public</div>
          <div class="col-sm-6"><input type="radio" name="radio1" ng-model="editProject.visibility" value="private">&nbsp;&nbsp;Private</div>
        </div>
        <br/>
        <!-- Save the edited changes -->
        <div class="row" ng-show="isEdit">
          <button class="col-sm-6 btn btn-sm btn-primary sqbtn" ng-click="confirmEdit(1)">
            Save
          </button>
          <button class="col-sm-6 btn btn-sm sqbtn" ng-click="confirmEdit(0)">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Right column -->
  <div class="col-sm-8">
    <div class="col-xs-12" style="text-align:center;" ng-show="files.length === 0">
      <br/><br/>
      <p class="lead"><h3>Sorry.. No files have been added yet.. </h3></p>
      <br/>
    </div>

    <div class="col-xs-12">
        <div class="col-xs-12 col-sm-6 projectImage" ng-repeat="file in files">
          <center>
            <div style="overflow:hidden;box-shadow: 0px 0px 15px #888888;">
              <a style="text-decoration:none;" href="{{project.status === 'ready' ? '/project/'+project._id+'/transcribe/'+file._id : '#'}}">
                <div style="max-height:200px;overflow:hidden;border-bottom: #777 solid 2px;">
                  <img src="/api/download/{{file.identifier}}"
                  width="100%" height="100%"
                  ng-click="transcribeImage(file)"/>
                </div>
                <div class="pad10" style="overflow:hidden;text-overflow: ellipsis;color:#111;">
                  {{file.name}}
                </div>
              </a>
              <a style="text-decoration:none;" href="/project/{{project._id}}/exemplar/{{file._id}}">
                <div ng-if="project.status === 'draft'"
                  class="pad10"
                  style="background-color:#EF6775;color:#eee;overflow:hidden;text-overflow: ellipsis;">
                  Set as Exemplar
                </div>
              </a>
            </div>
          </center>
        </div>
        <!-- <div class="col-xs-4" style="margin:5px;" ng-show="files.length === 0"></div> -->
        <!-- <div class="col-xs-4" style="padding:5px;" ng-hide="files.length > 8">
          <center>
            <span class="btn btn-lg" flow-btn flow-attrs="{accept:'image/*'}">
              <span class="glyphicon glyphicon-cloud-upload" style="font-size:5.5em;" aria-hidden="true"></span>
              <br/><br/>
              <h4>Add Files</h4>
            </span>
          </center>
        </div> -->
    </div>
  </div>
</div>
