<!-- Project Details -->
<div class="row panel">
    <div class="col-sm-8">
      <strong><h2>{{project.name}} &nbsp;&nbsp;</h2></strong>
    </div>
    <div class="col-sm-4" style="text-align:right">
      <strong><h2>
        <a target="_self" ng-href="{{csv_link}}" class="btn btn-default btn-sm">
          Downoad csv
        </a>
        <a href="/project/{{project._id}}/edit" class="btn btn-primary btn-sm">Edit</a>
      </h2></strong>
    </div>
</div>
<div class="row">
  <div class="col-sm-4 panel">
    <h4>Description</h4>
    <h5>{{project.desc}}</h5>
    <hr/>

    <h4>Transcription Deadline</h4>
    <h5>{{project.transcDeadline}}</h5>
    <hr/>

    <h4>Embargo Date</h4>
    <h5>{{project.embargoDate}}</h5>
    <hr/>

    <div class="row" style="text-align:center;">
      <div class="col-xs-6" style="border-right:1px solid #ddd;">{{project.nod}}<br/>Docs</div>
      <div class="col-xs-6">{{project.nod}}<br/>Transcribed</div>
    </div>
    <hr/>
    <div class="row" style="text-align:center;">
      <div class="col-xs-6" style="text-align:center;">{{project.status}}</div>
      <div class="col-xs-6"><i>{{project.visibility}}</i></div>
    </div>
    <br/>
  </div>
  <!-- Right column -->
  <div class="col-sm-8">
    <div class="col-xs-12" style="text-align:center;" ng-show="files.length === 0">
      <br/><br/>
      <p class="lead"><h3>Sorry.. No files have been added yet.. </h3></p>
      <br/>
    </div>

    <div class="col-xs-12">
        <div class="col-xs-4" ng-repeat="file in files" style="margin:5px;text-overflow: hidden;">
            <a href="/project/{{project._id}}/transcribe/{{file._id}}"><center>
                <div style="max-height:200px;overflow:hidden;">
                  <img src="/api/download/{{file.identifier}}"
                  width="100%" height="100%"
                  ng-click="transcribeImage(file)"/>
                </div>
                <div style="overflow:hidden;text-overflow: ellipsis;">{{file.name}}</div>
            </center></a>
        </div>
        <div class="col-xs-4" style="margin:5px;" ng-show="files.length === 0"></div>
        <div class="col-xs-4" style="margin:5px;">
          <br/>
          <a href="" style="text-decoration:none;color:#777;" class="btn btn-lg">
            <center>
              <span class="glyphicon glyphicon-cloud-upload" style="font-size:5.5em;" aria-hidden="true"></span>
              <br/><br/>
              <h4>Add Files</h4>
            </center>
          </a>
        </div>
    </div>
  </div>
</div>
