
<!--
<h4>Courses</h4>
-->
<!-- Search bar -->


<!-- Course List Based on categories -->

<!-- For each Category -->

<!-- for each course in category -->
<div class="col-sm-12">
    <input type="text" class="form-control" ng-model="searchText" placeholder="Search anything.."/><br/>
</div>

<hr/>
<h3>Projects</h3>
<a class="col-sm-12 btn-info btn" href="/create">
 <h5><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add New Project</h5>
</a>

<div ng-repeat="project in projects">
    <div class="col-sm-12  project" style="text-align:left;background-color:white;margin-top:10px;padding-top:5px;">
        <strong><a href="/project/{{project._id}}">{{project.name}}</a></strong> <small><i>{{project.visibility}}</i></small>
        <p>{{project.desc}}</p>
        <strong><small>{{project.user}}</small></strong>
        <!-- <small><a href="/project/{{project._id}}/edit">Edit</a></small> -->
    </div>
    <br/><br/>
</div>
