
<div class="row panel">
  <div class="col-sm-8">
    <strong><h2>{{project.name}}</h2></strong>
    <h4>{{file.name}}</h4>
  </div>
  <div class="col-sm-4" style="text-align:right">
    <strong><h2>
      <button
        class="btn btn-primary btn-sm"
        ng-click="saveTranscription()">
        Save
      </button>
      <a href="/" class="btn  btn-sm btn-secondary">Cancel</a>
    </h2></strong>
  </div>
</div>
<div class="row" style="overflow:auto;">
  <div class="col-sm-12 errorBox" id="errBox" style="display:none;">
  </div>
</div>
<div class="row">
    <!-- THe image part -->
    <div class="col-xs-8" id="imageHolder" style="min-height:10px;width=100%;">
        <!-- Buttons -->
        <div class="col-xs-12">
          <button type="button" class="btn btn-default btn-sm" ng-click="zoomCanvas(1)">
            <span class="glyphicon glyphicon-zoom-in"></span> Zoom-in
          </button>
          <button type="button" class="btn btn-default btn-sm" ng-click="zoomCanvas(-1)">
            <span class="glyphicon glyphicon-zoom-out"></span> Zoom-Out
          </button>
          <button type="button" class="btn btn-default btn-sm" ng-click="zoomCanvas(0)">
            <span class="glyphicon glyphicon-resize-full"></span>Zoom to Fit
          </button>
          <button class="btn btn-secondary" ng-click="toggleRectangles()">
            <span class="glyphicon glyphicon-tasks"></span>
            {{rectanglesVisibility? 'Hide' : 'Show'}}&nbsp;Rectangle
          </button>

        </div>
        <br/>
        <div class="col-sm-12 imgDisplay" style="width=100%;max-height:500px;" id="canvasHolder">
          <canvas id="transcribeImage"></canvas>
        </div>
    </div>
    <!-- Transcribing part -->
    <div class="col-xs-4">
        <!-- Schema is fixed for a project. Its one of the properties of project. Max of eight -->
        <div class="panel transField row" ng-repeat="field in project.schema">
              <div class="col-sm-3">No. {{$index+1}}</div>
              <div class="col-sm-9 fieldType">{{field.type}}</div>
              <div class="col-sm-12 fieldp2">
                <input class="form-control input transFieldText" ng-model="transResult[$index]"/>
              </div>

        </div>
    </div>
</div>
